/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
*{
	box-sizing:border-box;
}


body {
  font-family: Courier;
  padding:0rem;
  /* text-align: center; */

  background-color:#B5CAD8;
}

header>.nav1{
  font-family: Helvetica, Sans-Serif;
  color:white;
	background-color:#C1C3C4;
  padding:0em 0em;
	font-size: 0.9em;
}
header>.nav2{
  font-family: Helvetica, Sans-Serif;
	background-color: white;
	font-size: 0.9em;

}

.nav1 a{
  /* color: #939494; */
  color:white;
  text-decoration:none;
  padding:1em 1.75em;
	display:inline-block;
  margin-left: 0px;



}
.nav2 a{
  /* color: #939494; */
  background: white;
  color:grey;
  text-decoration:none;
  padding:1em 1.75em;
	display:inline-block;
  margin-left: 0px;



}
.nav1 a:hover{
	background:#F1DADA;
	color: #939494;

}
.nav2 a:hover{
	background:#F1DADA;
	color: #939494;

}

.nav1{
  font-size: 15px;
	font-weight: bold;

}
.element {
  background: white;
  padding-bottom: 1.3rem;
  border-top-width: 1rem;
  border-top-style: solid;
  border-top-color: white;
  border-bottom:3px  grey dotted;
}
.pElement {
	 margin: auto;
	 font-family: sans-serif, Helvetica;
  border-top-width: 1rem;
  border-top-style: solid;
  border-top-color: white;

}
.inputElement{
  background: white;
  padding-bottom: 1.3rem;
  border-top-width: 1rem;
  border-top-style: solid;
  border-top-color: white;
  border-bottom:3px  grey dotted;
	width:100%;

}


.container {
  display: flex;

}
.block {
  flex-grow: 1;
  flex-basis: 15em;
  order: 2;
}


.pContainer {
 margin: auto;
	width:60%;
	padding-bottom: 1.5em;
  background-color: #f2f2f2;
  margin-left: 10px;
  /* padding: 20px 20px 20px 20px; */
	padding: 30px;

  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container2{
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}


h1 {
 font-family: Helvetica, Sans-Serif;
 font-size:2em;
 text-align:left;
 margin-left: 20px;
 margin-right: 20px;
}

h2 {
  /* color:white; */
  font-family: Helvetica, Sans-Serif;
  font-size:1.6em;
  margin-top: 6rem;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  /* font-style: oblique; */
  font-size:1.2em;
  margin-top: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}

h4 {
  font-size:1em;
  margin-bottom: 0.25rem;
  margin-left: 20px;
  margin-right: 20px;
}


p {
  font-family: Courier;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;

}


nav a:hover, nav a:focus {
  text-decoration: none;
}
a:hover img {
  border: 2px solid lightgrey;
  opacity:0.5;
    /* border-bottom: 3px dashed grey; */
}
a:focus img {
  border-bottom: 2px dashed lightblue;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}
label{
  display:block;
  /* margin-left: 1.5em; */
}

input{
	background-color:white;
	padding: 0.8em;
  margin-button: 1em;
	transition: 0.2s;

}

input:hover{
	background-color:lightgrey;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

.nav3 a{
	font-family:Helvetica;
	/* background-color: #E8B5B5; */
  background-color:white;

	font-size:1em;
	text-decoration:none;
	padding:1em 1.75em;
	display:inline-block;
	color:grey;
}

.nav3 a:hover{

	font-family: Helvetica;
	background:#F1DADA;
}

/* .nav4 a:hover{
  font-family: Helvetica;
	background:grey;

} */


.label{
	width:70%;

}

.prouct1{
	margin-left: -5em;
}

.prouct2{
	margin-left: -5em;
}

button{
	padding:1em 2.75em;
	width:15%;
	text-align: center;
	margin-top:1em;
  margin-left: 1.5em;
	border:none;


	font-weight: bold;
	transition: 0.5s;
	background-color: #C1C3C4;
}

button:hover{
	color:grey;
	background:#ccc;
	box-shadow:3.5px 2px black;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

/*--------------------The css for the colors palette------------------*/

.color1{
	background-color: #B5CAD8;
	width: 20%;
	text-align: center;
	border:1px white solid;
	margin-bottom:2em;

}

.color2{
	background-color: #F1DADA;
	width: 20%;
	text-align: center;
	border: 1px solid #dacfce;
	margin-bottom:2em;


}
.color3{
	background-color: #C1C3C4;
	width: 20%;
	text-align: center;
	border: 1px solid #dacfce;
	margin-bottom:2em;


}
/* .color4{
  background-color: #C0E1C3;
	width: 20%;
	text-align: center;
	border: 1px solid #dacfce;
	margin-bottom:2em;

} */


/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/

/*---------Code from this website:https://www.w3schools.com/howto/howto_css_checkout_form.asp ---------------*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col{
  -ms-flex:25%;
  flex:25%;
  margin-left: 20px;
  width:40%;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  width: 60%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #B5CAD8 ;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #C1C3C4;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
